/* color de fondo*/
.quienes{
    background: white;    
}
/*configuracion del contenedor general*/
.contenedor{
    width: 100%;

	/*FLEX*/
	flex:1 1 100%;
	/*flex:0 0 300px;*/
	display: flex;

	justify-content:flex-start;
}
/* configuracion del titulo y los escritos*/
h1 {
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/*configuracion de la imagen*/
.relleno{
    max-width: 100%;
    display:flex;
    
    justify-content:space-between;
    
}
.relleno img{
    width: 100%;
	height: 100%;

    object-fit:cover;
}