<!-- extiende de la maqueta-->
{% extends "maqueta.html" %}
<!--comienza el contenido que se señalo en la maqueta-->
{% block contenido %}
<!--se le informa a django que se cargaran archivos estaticos-->
{% load staticfiles %}
<!--se llama a el css de estilo correspondiente-->
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
<div class="contenedor">
    <img src="{% static 'images/banner_1.jpg' %}" width="150" alt="">
    <!-- el formulario dentro de una tabla para darle orden-->
    <table>
        <form method="POST">
            {% csrf_token %}
            <table>
                {% for field in form %}
                <tr>
                    <th>{{ field.label_tag}}</th>
                </tr>
                <tr>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                </tr>
                {% endfor %}
            </table>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input  class="boton" type="submit" value="Ingresar">
        </form>
        <!-- espacios en blanco-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h5>¿No tienes cuenta? <a href="{% url 'registro'%}">Registrate</a></h5>
        
        <h5>¿Olvidaste tu Contraseña? <a href="{% url 'recuperar'%}">Click Aqui</a></h5>
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login con Facebook</a>
		<a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">Login con Github</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </table>
    
</div>

{% endblock %}