<!-- extiende de la maqueta-->
{% extends "maqueta.html" %}
<!--comienza el contenido que se señalo en la maqueta-->
{% block contenido %}
<!--se le informa a django que se cargaran archivos estaticos-->
{% load staticfiles %}
<!--se llama a el css de estilo correspondiente-->
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
<div class="contenedor">
		<img src="{% static 'images/banner_1.jpg' %}" width="150" alt="">
		<!-- los botones dentro de una tabla y con acciones para linkearlos con las otras vistas-->
		<table>
			<form action="{% url 'reg_masc'%}">
				<button class="boton" type="submit">Agregar Mascota</button>
			</form>
			
			<form action="{% url 'eliminar'%}">
				<button class="boton" type="submit">Eliminar Mascota</button>
			</form>
			
			<form action="{% url 'editar'%}">
				<button class="boton" type="submit">Editar Mascota</button>
			</form>
		</table>
</div>

{% endblock %}