<!-- extiende de la maqueta-->
{% extends "maqueta.html" %}
<!--comienza el contenido que se señalo en la maqueta-->
{% block contenido %}
<!--se le informa a django que se cargaran archivos estaticos-->
{% load staticfiles %}
<!--se llama a el css de estilo correspondiente-->
<link rel="stylesheet" href="{% static 'css/lista.css' %}">
<div class="contenedor">
    <img class="banner" src="{% static 'images/banner_1.jpg' %}" width="150" alt="">
    <h1>Lista de las Mascotas Disponibles</h1>
        <!-- la lista de mascotas con el paginator para darle orden y un estio con el css-->
    {% if lista %}
    <table>
        <tr class="titulos">
            <th colspan="2">Mascota</th>
            <th>Estado</th>
            <th>Raza</th>
            <th>Descripcion</th>
        </tr>
        {% for m in lista.object_list %}
            <tr>
                {% if m.estado == 'Disponible' %}
                <td><img  src= {{ m.fotoMascota.url }} height="100" width="100" align=right/>  </td>
                <td>{{ m.nombreMascota }}</td>
                <td>{{ m.estado }}</td>
                <td>{{ m.raza }}</td>
                <td>{{ m.descripcion }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h5>No hay Mascotas</h5>
    {% endif %}
</div>
{% endblock %}