<!-- extiende de la maqueta-->
{% extends "maqueta.html" %}
<!--comienza el contenido que se señalo en la maqueta-->
{% block contenido %}
<!--se le informa a django que se cargaran archivos estaticos-->
{% load staticfiles %}
<!--se llama a el css de estilo correspondiente-->
<link rel="stylesheet" href="{% static 'css/quienes.css' %}">
<!--dos div que contienen la parte escrita y una imagen-->
	<div class="contenedor">
		<div class="quienes">
			<h1 align=center>  ¿Quienes Somos? </h1>
			<h4>Somos una organizacion sin fines de lucro, que busca salvar perritos, cuidarlos y posteriormente entregarlos a nuevos 
			dueños que realmente puedan y quieran cuidarlos.</h4>
		</div>	
		<div class="relleno">
			<img src="{% static 'images/perroquienes.jpg' %}" >
		</div>
	</div>
	
{% endblock %}