/*configuracion del contenedor general*/
*{
    font-family:'Montserrat',sans-serif;
}
.contenedor{
    background: white;
    flex:1 1 40%;
	/*flex:0 0 300px;*/
	display: flex;
	flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 60px;
}
/* configuracion estetica del boton*/
.contenedor .boton{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
.boton:hover{
    background:#78788c;
    color:#fff
}
/*configuracion de comportamiento del boton*/
.contenedor .boton:hover{
    background: rgb(134, 202, 199);
}
/*margen de los campos*/
input[type='text'], [type='email'],[type='password']{
    border: solid 1px #78788c;
    color: #5a5a6e;
}
/*configuracion de la imagen */
.contenedor img{
    width: 35%;
	height: 35%;
    margin: 10px;
    object-fit:cover;
}
table{
    text-align: center;
}
td{
    align-self: center;
}

