/*configuracion del contenedor contacto*/
.contacto{
    background: white;

    width: 100%;
}
/*configuracion del contenedor general*/
.contenedor{
    width: 100%;
	/*FLEX*/
	flex:1 1 100%;
	/*flex:0 0 300px;*/
	display: flex;
    align-items: center;
	justify-content:flex-start;
}
/* caracteristicas de los titulos y letras*/
h1 {
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
h5{
    padding-left: 20px;
    margin-bottom: 5px;
}
/* configuracion de la imagen*/
.relleno{
    max-width: 100%;
    display:flex;
    border: 1px solid black;
    justify-content:space-between;
    
}
.relleno img{
    width: 100%;
	height: 100%;

    object-fit:cover;
}